#queue {
  width: 290px;
  float: left;
  padding: 5px 15px;
}

#inProgress {
  width: 294px; 
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
}

#done {
  width: 270px;
  padding: 5px 15px;
  float: left;
}
footer {
  clear: both;
  padding: 0 15px;
}


@media screen and (max-width: 980px) {
  
  #queue {
    width: 41%;
    padding: 1% 4%;
  }
  #inProgress {
    width: 41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: right;
  }
  
  #done {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }

  header, footer {
    padding: 1% 4%;
  }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

  #queue {
    width: auto;
    float: none;
  }
  
  #inProgress {
    width: auto;
    float: none;
    margin-left: 0px;
  }
  
  #done {
    width: auto;
    float: none;
  }

}
